/* RESPONSIVE */

/* TABLET MINI */
@media screen and (min-width: 425px) {
    /* UTILITY */
    :root {
        --navbar-width: 180px;
        
    /* debug */
    border: 1px solid black;
    background-color: lightblue;
}
}



/* TABLET */
@media screen and (min-width: 768px) {
    /* UTILITY */
    :root {
        --navbar-width: 200px;
    
    /* debug */
    border: 1px solid black;
    background-color: lightblue;
}    
}


/* LAPTOP */
@media screen and (min-width: 1024px) {
    /* UTILITY */
    :root {
        --navbar-width: 220px;
            
    /* debug */
    border: 1px solid black;
    background-color: lightblue;
}       
}