/* RESPONSIVE */

/* TABLET MINI */
@media screen and (min-width: 639px) {

    /* UTILITY */
    :root {
        --navbar-width: 200px;

        /* debug */
        border: 1px solid black;
        background-color: lightblue;
    }

    /* NAV */
    /* LOGO */
    #logo-small {
        display: none;
    }

    #logo-large {
        display: inline-block;
    }

    /* MENU */
    .menu li {
        text-align: start;
        padding-left: 20px;
    }

    .menu a span {
        display: inline;
    }

    /* PLAYLIST */
    .playlist {
        flex-grow: 1;
        padding-left: 20px;
        display: inline-block;
    }

    /* DOWNLOAD AND PROFILE */
    .bottom-sidebar {
        align-items: start;
        padding-left: 20px;
    }

    .bottom-sidebar a {
        display: inline-block;
    }

    .bottom-sidebar hr {
        display: inline-block;
        width: 90%
    }

    #profile-logo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        vertical-align: middle;
        background-color: #a3a3a3;
        margin: 5px 0;
    }

    /* MAIN SECTION */
    /* TOP BAR */
    .upgrade.btn {
        padding: 10px 30px;
        font-size: 13px;
    }

    /* FILTER */
    .filter-list li {
        width: calc(100%/3);
    }

    /* CONTENT */
    .container {
        width: 85%;
        max-width: 768px;
    }

    /* FOOTER */
    /* PLAYBACK BAR - START */
    .playback-bar .start {
        width: var(--navbar-width);
    }

    /* PLAYBACK BAR - CENTER */
    .playback-bar .center {
        flex-grow: 1;
    }

    /* PLAYBACK BAR - END */
    .playback-bar .end {
        width: var(--navbar-width);
    }

    /* START */
    .currently-song-cover {
        width: 3.5rem;
    }

    .currently-song-text {
        font-size: 1rem;
    }

    .icon {
        width: 30%;
        display: flex;
        justify-content: end;
        gap: 10px;
    }

    /* CENTER */
    .playbar-line {
        width: 90%;
    }

    .line-active {
        left: 45px;
    }

    .line-active-circle {
        left: 75px;
    }

    /* END */



}


/* TABLET */
@media screen and (min-width: 878px) {

    /* UTILITY */
    :root {
        --navbar-width: 200px;

        /* debug */
        border: 1px solid black;
        background-color: lightblue;
    }

    /* FILTER */
    .filter-list li {
        width: calc(100%/4);
    }

    /* CONTENT */
    .container {
        width: 85%;
        max-width: 1024px;
    }

    .grid-row {
        justify-content: start;
    }

    .col {
        width: calc(90%/4);
    }

    /* FOOTER */
    /* CENTER */
    .playbar-line {
        width: 80%;
    }

    .line-active {
        left: 50px;
    }

    .line-active-circle {
        left: 120px;
    }


}


/* LAPTOP */
@media screen and (min-width: 1440px) {

    /* UTILITY */
    :root {
        --navbar-width: 200px;

        /* debug */
        border: 1px solid black;
        background-color: lightblue;
    }

    /* FILTER */
    .filter-list li {
        width: calc(100%/6);
    }

    /* CONTENT */
    .container {
        width: 80%;
        max-width: 2440px;
    }

    .grid-row {
        justify-content: start;
    }

    .col {
        width: calc(90%/6);
    }

    /* FOOTER */
    /* CENTER */
    .playbar-line {
        width: 70%;
    }

    .line-active {
        left: 105px;
    }

    .line-active-circle {
        left: 240px;
    }


}