/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* UTILITY */
:root {
    --topbar-height: 80px;
    --navbar-width: 50px;
    --footer-height: 80px;
}

a {
    text-decoration: none;
    color: #a3a3a3;
}

ul {
    list-style: none;
}

/* COLOR */
/* black  #000000 */
/* white  #ffffff */
/* dark blue #090b13 */
/* blue   #141922 */
/* grey   #282828 */
/* lightgrey   #a3a3a3 */


/* LAYOUT */
.container {
    width: 90%;
    max-width: 475px;
    margin: 0 auto;

    /* debug */
    /* border: 1px solid white; */
    /* background-color: lightcoral; */
    /* min-height: 500px; */
}


/* TYPOGRAPHY */
body {
    font-family: sans-serif;
    color: white;
}

/* MAIN */
main {
    display: flex;
}


/* NAV */
.nav-sidebar {
    width: var(--navbar-width);
    height: calc(100vh - var(--footer-height));
    background-color: #000000;
    display: flex;
    flex-direction: column;
    color: #ffffff;

    /* debug */
    /* border: 1px solid black; */
}

/* TOP NAV-SIDEBAR */
.top-sidebar {
    height: 90%;
    display: flex;
    flex-direction: column;

    /* debug */
    /* border: 1px solid black; */
    /* background-color: lightsalmon; */
}

/* LOGO */
.logo {
    position: relative;
    height: var(--topbar-height);

    /* debug */
    background-color: black;
    /* border: 1px solid black; */
}

#logo-small {
    padding: 10px;

}

#logo-large {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
    display: none;

}

/* /LOGO */

/* MENU */
.menu div {
    margin-bottom: 0.5rem;
    text-align: center;
}

.menu img {
    width: 30px;
    vertical-align: middle;
}

.menu a {
    display: none;
}

/* /MENU */

/* PLAYLIST */
.playlist {
    flex-grow: 1;
    padding-left: 20px;
    display: none;
}

.playlist h4 {
    margin: 20px 0;
}

.playlist li {
    margin-bottom: 20px;
}

#add {
    margin-right: 5px;
}

/* /PLAYLIST */
/* /TOP NAV-SIDEBAR */

/* BOTTOM NAV-SIDEBAR */
.bottom-sidebar {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /* debug */
    /* border: 1px solid white; */
}

.bottom-sidebar a {
    display: none;
}

.bottom-sidebar hr {
    display: none;
}

/* DOWNLOAD AND PROFILE*/
#download-logo {
    width: 25px;
    vertical-align: middle;
}

#profile-logo {
    width: 30px;
    background-color: #a3a3a3;
    border-radius: 50%;
}

#profile-name {
    color: #ffffff;
}

/* /DOWNLOAD AND PROFILE*/
/* /BOTTOM NAV-SIDEBAR */


/* MAIN-SECTION */
.main-section {
    width: calc(100% - var(--navbar-width));
    height: calc(100vh - var(--footer-height));
    display: flex;
    flex-direction: column;
}

/* TOP BAR */
.top-bar {
    height: var(--topbar-height);
    line-height: var(--topbar-height);
    background-color: #090b13;
    text-align: end;
    padding-right: 10px;
    position: fixed;
    top: 0;
    left: var(--navbar-width);
    width: calc(100% - var(--navbar-width));

    /* debug */
    /* border: 1px solid black; */
}

.upgrade.btn {
    color: #ffffff;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: end;
    font-size: 10px;
}

/* /TOP BAR */

/* CONTENT */
.content-section {
    height: 100%;
    background-color: #141922;
    overflow: auto;
    padding-top: var(--topbar-height);

    /* debug */
    /* border: 1px solid black; */
}

/* FILTER */
.filter-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    margin: 20px 0;
}

.filter-list li {
    width: calc(100%/2);
    text-align: center;
    font-size: small;
}

/* /FILTER */

/* RECENTLY PLAYED */
.content-title {
    font-size: 1.3rem;
}

.content-subtitle {
    font-size: small;
    color: #a3a3a3;
}

.grid-row {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 10px;
}

.col {
    width: calc(90%/2);

    /* debug */
    /* background-color: aqua; */
    /* min-height: 350px; */
}

.circle {
    border-radius: 50%;
}

.card-text {
    text-align: center;
    margin: 10px 0;
}

.song {
    color: white;
    font-weight: bold;
}

.artist {
    font-size: small;
}

/* /RECENTLY PLAYED */
/* /CONTENT */
/* /MAIN-SECTION */


/* FOOTER */
.playback-bar {
    height: var(--footer-height);
    background-color: #282828;

    /* debug */
    /* border: 1px solid black; */
}

/* /FOOTER */


/* HOVER */
.like:hover {
    color: red;
}

.card:hover .back-item {
    z-index: 1;
}

/* /HOVER */